@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
  height: 100px;
}

p,
a {
  font-family: "Open Sans", sans-serif;
}

.background-white {
  background-color: #ececec;
}

.background-black {
  background: #000;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #000;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading {
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.userImg {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
